<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<body>

<section>
  <h2>Register New Employee</h2>

  <form th:action="@{/user/register}" method="post">
    <label>Name</label>
    <input type="text" name="name" required>

    <label>Employee ID</label>
    <input type="number" name="employeeId" required>

    <label>Date of Birth</label>
    <input type="date" name="dateOfBirth" required>

    <label>Password</label>
    <input type="password" name="passwordHash" required>

    <label>Salary</label>
    <input type="number" step="0.01" name="salaryAmount" required>

    <label>Department</label>
    <input type="text" name="departmentName">

    <button type="submit">Register</button>
  </form>
</section>
<script th:src="@{/js/api.js}"></script>
<script th:src="@{/js/register.js}"></script>
</body>
</html>
